body,html{
  font-family: 'Comfortaa', cursive;
}

header{
  background-image: url(../images/pexels-wendy-wei-1190297.jpg);
  background-size: cover;
}

.homeLayer{
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

header h1, #duration h2{
  font-size: 5em;
}

header h6{
  font-size: 1.3em;
}

nav a{
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #09c
}

nav{
  position: fixed;
  top: 0;
  bottom: 0;
  left: -25%;
  right: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

nav .innerNav{
  padding: 3.5em;
}

nav li{
  margin: 1.8em 0;
}

.fa-xmark{
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.8em;
  color: white;
  cursor: pointer;
}

.openMenu{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.8em;
  font-size: 1.5em;
  cursor: pointer;
}

/******************************************************************************************************************************/

.singer{
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  font-size: 1.5em;
  font-weight: 500;
  color: white;
  cursor: pointer;
  margin: 0;
}

.singerDetails{
  background-color: #ccc;
  color: black;
  font-size: 1em;
  line-height: 1.1;
  padding: 0.7em;
  margin: 0;
  display: none;
}

.openFirst{
  display: block;
}

/******************************************************************************************************************************/

#duration{
  background-image: url(../images/PngItem_1763774.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  margin : auto;
  color: white;
}

#duration h6{
  font-size: 3em;
}

#duration .box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em;
  border: 3px solid white;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
}

/******************************************************************************************************************************/

#contacts textarea{
  height: 8em;
}

.socialBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 2.5em;
  margin: 0 1em;
  font-size: 1.5em;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.5s;
}

.socialBox:hover{
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  body {
    font-size: 14px;
  }

  header h1{
    font-size: 4em;
  }

  #duration .box{
    padding: 5em;
    width: 90%;
    margin: 0.8em auto;
    font-size: 0.8em;
  }

  .socialBox{
    height: 2.2em;
    width: 2.2em;
    margin: 0 1em;
    font-size: 1em;
  }

  .social{
    justify-content: space-between;
  }

}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  header h1{
    font-size: 3.5em;
  }

  #duration .box{
    padding: 5em;
    width: 65%;
    margin: 1em auto;
  }

  nav{
    left: -50%;
    right: 110%;
  }
}